<!DOCTYPE html>
<html>
<meta charset="utf-8">
<title>Building Damage Protection</title>
</head>
<body>
<table width="100%">
    <tr>
        <td>
            <table aling="center" width="500" style="border-collapse: collapse;">
                <tr>
                    <td>
                        Dear {{name}},
                        <br>
                        A {{urgency}} water intrusion was detected at {{location}}.
                        <br>
                        Please follow the link below for more information.
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href={{link}}>More information</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>