<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Building Damage Protection</title>
</head>
<body>
    <h1>Damage Responding System</h1>
    <p>Snooze or Report Fixed</p>
    <br>
    Responder Info (email): {{contact}}<br>
    <br>
    <form action="/respond" method="post">
        <input type="radio" name="action" value="snooze" checked> snooze (8 hours)<br> 
        <input type="radio" name="action" value="fixed"> fixed<br> 
        <br>
        <input type="submit" value="Confirm">
        
        <input type="hidden" id="contact" name="contact" value={{contact}}>
        <input type="hidden" id="contact" name="nid" value={{nid}}>
    </form>

</body>
</html>