<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- Chartist-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.1/chartist.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.1/chartist.min.js"></script>

    <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='css/stylesheet.css')}}>
    
    <!--IBM font-->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet"/>
<title>Water Damage Prevention System</title>
</head>
<body>
<div class="container-fluid h-100" id="m_container">
    <div class="row">
        <div class="col-sm-12 p-3 header">
            <h3>Water Damage Prevention System</h3>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-sm-12">
            Hello {{name}}.
        </div>
    </div>
    <div class="row p-3">
        <div class="col-sm-4">
                <div class="card border-secodary h-100">
                    <div class="card-header mcard-header">Incident</div>
                    <div class="card-body">
                        <table class="table table-sm">
                            <tbody>
                                <tr id='table_building'><td>Building</td><td>{{tenant}}</td></tr>
                                <tr id='table_location'><td>Location</td><td>{{location}}</td></tr>
                                <tr id='table_timestamp'><td>Timestamp</td><td>{{timestamp}}</td></tr>
                                <tr id='table_sensor_type'><td>Sensor Type</td><td>{{sensor_type}}</td></tr>
                                <tr id='table_sensor_id'><td>Sensor ID</td><td>{{sensor_id}}</td></tr>
                                <tr id='table_status'><td>Status</td><td id="table_status_value">{{status}}</td></tr>
                                <tr id='table_handler'><td>Handler</td><td>{{handler}}</td></tr>
                                <tr id='table_urgency'><td>Urgency</td>
                                <td>
                                <div class="urgency_battery">
                                    <div class="urgency_battery_cell" style="background-color:yellow; visibility:{{urgency_vis_1}}"></div>
                                    <div class="urgency_battery_cell" style="background-color:orange; visibility:{{urgency_vis_2}}"></div>
                                    <div class="urgency_battery_cell" style="background-color:red; visibility:{{urgency_vis_3}}"></div>
                                </div>
                                </td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        <div class="col-xl-8">
            <div class="card border-secodary h-100">
                <div class="card-header mcard-header">Floor plan</div>
                <div class="card-body">
                    <iframe id="heatmap" src="https://waterleakdetector.eu-de.mybluemix.net/ui/#/1"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-sm-4">
            <div class="card border-secodary h-100">
                <div class="card-header mcard-header">Take action</div>
                <div class="card-body">
                  <button type="button" id="action_snooze_button" class="btn btn-info m-2" data-toggle="modal" data-target="#snoozeModal">Snooze messages</button>
                  <button type="button" id="action_fixed_button" class="btn btn-success m-2" data-toggle="modal" data-target="#fixedModal">Mark as resolved</button>
                 <div class="card-text text-align-center"><small>Use the buttons above to respond to this incident.</small></div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card border-secodary h-100">
                <div class="card-header mcard-header">Humidity overview</div>
                <div class="card-body">
                  <div class="ct-chart ct-golden-section">
                  </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-secodary h-100">
                <div class="card-header mcard-header">Users in this group</div>
                <div class="card-body">
                    <div class="card-text">
                        <ul class="list-group list-group-flush">
                        {%for i in range(0, users_amount)%}
                            <li class="list-group-item">{{users[i]}}</li>
                        {%endfor%}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="snoozeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mcard-header">
        <h5 class="modal-title" >Confirm your action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This action will snooze notifications for {{snooze_time}} hours and assign you as a handler for this incident. All users in your group will be notified of this action. </br></br> Would you like to proceed? 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="snooze_button" type="button" class="btn btn-success" data-dismiss="modal" data-target="#responseModal">Proceed</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="fixedModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mcard-header">
        <h5 class="modal-title" >Confirm your action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This action will mark this incident as resolved. All users in your group will be notified of this action. </br></br> Would you like to proceed? 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="fixed_button" type="button" class="btn btn-success" data-dismiss="modal">Proceed</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="responseModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mcard-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
      <p id="responseModalBody"> Thank you for your submission</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>

function disable_button(elem_id){
  var button = document.getElementById(elem_id);
  button.disabled = true;
}

function toggle_button_availability(){
  var status = document.getElementById('table_status').children[1].innerHTML;
  if(status == 'In progress')
  {
    disable_button('action_snooze_button');
  }
  else if(status == 'Resolved')
  {
    disable_button('action_snooze_button');
    disable_button('action_fixed_button');
  }
}

function plot_chart(){
  var data = {
    labels: {{labels|safe}},
    series: {{datapoints}}
  };

  var options = {
    high: Math.max({{datapoints}}) + 5,
    low: Math.min({{datapoints}}) - 5,
    height: 200,
    fullWidth: true,
    showPoint: false,
    showArea:true,
  };

  new Chartist.Line('.ct-chart', data, options);
}

document.addEventListener('DOMContentLoaded', function(event){
  toggle_button_availability();
  plot_chart();
})

document.getElementById('snooze_button').addEventListener('click', function(event){
    var request = new XMLHttpRequest();
    modal_id = document.getElementById('responseModal');
    modal = new bootstrap.Modal(modal_id);
    request.onreadystatechange = function() {
      console.log(request.status)
      if (request.readyState === 4 ) {
        if (request.status === 200){
            var responseJson = JSON.parse(request.responseText);
            document.getElementById('table_status_value').innerHTML = responseJson['newStatus'];
            modal.show()
        } else if(request.status === 208){
            document.getElementById('responseModalBody').innerHTML = 'This incident is already snoozed';
            modal.show()
        }
      }
    }
    request.open("POST","/respond",true);
    request.setRequestHeader('Content-Type', 'application/json');
    request.send(JSON.stringify({'ACTION':'SNOOZE'}))
})

document.getElementById('fixed_button').addEventListener('click', function(event){
    var request = new XMLHttpRequest();
    modal_id = document.getElementById('responseModal');
    modal = new bootstrap.Modal(modal_id);
    request.onreadystatechange = function() {
      console.log(request.status)
      if (request.status == 200){
          modal.show()
      }
      else {
          document.getElementById('responseModalBody').innerHTML = 'Something went wrong';
          modal.show()
      }
    }
    request.open("POST","/respond",true);
    request.setRequestHeader('Content-Type', 'application/json');
    request.send(JSON.stringify({'ACTION':'FIXED'}))
})

</script>
</body>
</html>